.navbar{
    display: grid;
    grid-template-columns: 1fr 500px;
}

.nav-left{
    display: grid;
    grid-template-columns: 75px auto;
    width: 100%;
}

.nav-left h2{
    word-wrap: normal;
}

.nav-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right button{
    color: white;
}