.home-cover-image{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("https://www.teahub.io/photos/full/193-1939741_pleasant-picture-of-nature.jpg");
}

.home-cover-image h1{
    font-size: 52px;
    color: white;
    align-self: flex-end;
    letter-spacing: 10px;
    font-family: custom2;
}

.home-cover-image .welcome-message{
    padding: 10px;
    width: auto;
    display: grid;
    justify-items: center;
}

.home-cover-image .hori-bar{
    background-color: white;
    height: 3px;
    width: 100%;
    align-self: start;
}

.place-and-time{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
    margin-top: 20px;
}

.place-and-time .map{
}

.place-and-time .info{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-left: 100px;
}

.place-and-time .info h1{
   font-size: 24px;
   color: black;
   font-weight: bold;
   padding: 10px;
   padding-left: 0px;
}

.place-and-time .info h3{
    padding: 5px;
    padding-left: 0px;
}

.place-and-time .vert-line{
    width: 1px;
    background-color: black;
}

